.container2
{
    background-color:white;
    color:black;
    height:100%;
    width:100%;
    text-align:left;
    z-index:3;
    padding:100px;
    font-family: cursive;
}

.container2 h1
{
   
   color: rgb(255, 183, 0);

}
.container2 p
{
   
  margin-bottom: 50px;

}