<footer class="footer bg-dark">
    <div class="container text-white">
        <div class="row text-center">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <ul class="list-inline pt-3">
                    <li class="list-inline-item p-2">
                        <a class="faficon" href="" target="_blank">
                            <h2>
                                <i class="fa fa-facebook"></i>
                            </h2>
                        </a>
                    </li>
                    <li class="list-inline-item p-2">
                        <a class="faficon" href="" target="_blank">
                            <h2>
                                <i class="fa fa-instagram"></i>
                            </h2>
                        </a>
                    </li>
                    <li class="list-inline-item p-2">
                        <a class="faficon" href="" target="_blank">
                            <h2>
                                <i class="fa fa-twitter"></i>
                            </h2>
                        </a>
                    </li>
                    <li class="list-inline-item p-2">
                        <a class="faficon" href="" target="_blank">
                            <h2>
                                <i class="fa fa-youtube"></i>
                            </h2>
                        </a>
                    </li>
                    <li class="list-inline-item p-2">
                        <a class="faficon" href="" target="_blank">
                            <h2>
                                <i class="fa fa-github"></i>
                            </h2>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row text-center">
            
            <div class="col-xs-12 col-sm-12 col-md-3">
            <img src="http://girlscript.tech/assets/images/whatsapp-image-2018-03-19-at-11.18.26-am-1280x1280.jpg" class = "img-fluid">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <h1>About</h1>
                <ul class="list-unstyled quick-links">
                    <li>
                        <a href="/about/">About us</a>
                    </li>
                    <li>
                        <a href="/team/">Team</a>
                    </li>
                    <li>
                        <a href="/partners/">Partners</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <h1>Reach Us</h1>
                <ul class="list-unstyled quick-links">
                    <li>Random Place</li>
                    <li>Random Location</li>
                    <li>Random City</li>
                    <li>
                        <i class="fa fa-phone"></i> 9007355023</li>
                    <li>
                        <a href="mailto:abc@cdef.com">
                            <i class="fa fa-envelope"></i>abc@cdef.com</a>
                    </li>
                </ul>
            </div>
            
        </div>
        <hr>
        <div class ="row text-center">
            <blockquote class ="text-center">
                 Copyright © Girlscript 2018
            </blockquote>
        </div>
    </div>
</footer>