<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top navy">
    <a class="navbar-brand" href="#">
        <img src="http://girlscript.tech/assets/images/whatsapp-image-2018-03-19-at-11.18.26-am-1280x1280.jpg" alt="Logo" style="width:40px;">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pt-3" id="navbarCollapse">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item" id="blog">
                <a class="nav-link" href="/blogs/">Blog</a>
            </li>
            <li class="nav-item" id="about">
                <a class="nav-link" href="/about/">About Us</a>
            </li>
            <li class="nav-item" id="team">
                <a class="nav-link" href="/team/">Team</a>
            </li>
            <li class="nav-item" id="team">
                <a class="nav-link" href="/events/">Events</a>
            </li>
            <li class="nav-item" id="Sponsors">
                <a class="nav-link" href="/sponsors/">Sponsors</a>
            </li>
            <li class="nav-item" id="contactus">
                <a class="nav-link" onclick="gotoContact()">Contact Us</a>
            </li>
            <li class="nav-item" id="Donate">
                <a class="nav-link" onclick="Donate">Donate</a>
            </li>
        </ul>

    </div>
</nav>