<div class="coral text-center about_us_main">

    <div class="about_us_layover">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <h1 style="font-size: 4vw" class="about_us_heading">
                Who Are We??
            </h1>
            <hr>
            <br>
            <p class="about_us">GirlScript Foundation is a Non-profit registered by Government of India, has come up with a unique and India's
                first women oriented technical festival. GirlScript started as a project has been selected by Mozilla under
                Open Leadership program out of 51 open-source projects worldwide.The main motto of GirlScript is not only
                to encourage gender equality in technical sector but also to help all the beginner in technology who are
                clueless at the starting phase of their education.</p>
        </div>
    </div>
</div>